
@import "./App.less";

.songsLabel{
    font-size: 14pt;
    margin: 0 2pt 0 30pt;
}

.songsSelector{
    min-width: 100pt;
    font-size: 14pt;
    margin: 15pt 0 10pt 0;
}

.songNameField{
    vertical-align: middle;
    line-height: normal;
    margin-right: 1pt;
    margin-bottom: 5pt;
}
